.row {
  display: flex;
  gap: 15px;
  --bs-gutter-x: 0
}

.movie-card {
  display: flex;
  flex-direction: column;
  background-color: #282caa10;
  border: 1px solid grey;
  border-radius: 10px;
  max-width: 220px;
  gap: 10px;
}

.movie-poster {
  border-radius: 10px 10px 0px 0px;
}

.movie-title {
  display: -webkit-box;
  text-align: center;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.movie-overview {
  display: -webkit-box;
  text-align: start;
  padding: 5px;
  line-clamp: 4;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}